[submodule "gaussian_splatting"]
	path = gaussian_splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "3dgsconverter"]
	path = 3dgsconverter
	url = https://github.com/francescofugazzi/3dgsconverter.git
